{% extends  "index.html "%}

{% block mainContent%}

<div class="jumbotron jumbotron-fluid">
<div class="container">
    <h1 class="display-8">Flask  Advance Calculator</h1>
    <p class="lead"> You can try out our advance calculator </p>
</div>

</div>

<form class="container" method="post" action="{{url_for('advance_calculate')}}">
   <div class="row">
    <div class="col-lg-2 col-md-3">
        <input type="number" class="form-control" placeholder=" Number" name="number" required>
    </div>

    <div class="col-lg-2">
        <select class="form-control" id="selectOperation" name="operation" required>
        <option value=""> Select ...</option>    
        <option value="sin"> sin</option>    
        <option value="cos"> cos</option>     
        <option value="tan"> tan</option>    
        <option value="squr"> square root</option>    
        </select>

    </div>
   
    <div class="col-lg-3">
        <input type="submit" value="calculate" class="btn btn-primary">    
    </div>
    
</div>

    <div class="row mt-3">
        <div class="col-lg-1">
            <div class="text-center">=</div>    
        </div>

        <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Result" value="{{result}}" >
        </div>

        <div class="col-lg-3">
            <div class="alert {{color}}">{{note}}</div>
        </div>
    </div>

   

</form>



{%endblock%}